.navbar {
  background-color: whitesmoke;
  display: flex;
  width: 100vw;
  position: sticky;
  top: 0;
  height: 80px;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px lightgray;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
  z-index: 10;
  
  a {
    color: black;
    text-decoration: none;
  }

  &__left {
    display: flex;
    flex-direction: row;
    align-items: center;
    a {
      margin: 8px; 
    }
  }

  &__right {
    a {
      margin: 8px;
    }
    margin-right: 16px;
  }
}