.cart {
  display: flex;
  justify-content: space-between;
  margin: 100px 40px;
  position: relative;
  align-items: flex-start;

  &__left {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin-right: 24px;
    justify-content: space-evenly;
    width: 100%;

    &__product {
      position: relative;

      &__trash {
        position: absolute;
        top: 90%;
        right: 10px;
      }
    }
  }

  &__right {
    background-color: whitesmoke;
    border-bottom: solid 1px lightgray;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    border-radius: 12px;
    padding: 24px;
    position: sticky;
    top: 197px;
    flex-shrink: 0;
  }

  Button {
    margin: 30px 0px 0px;
  }
}

.payment {
  background-color: whitesmoke;
  border-bottom: solid 1px lightgray;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
  border-radius: 12px;
  padding: 24px;
  width: 500px;
}