.profile {
  background-color: white;
  border: solid 1px rgba(0, 0, 0, .1);
  border-radius: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
  padding: 12px;
  margin: 75px 150px 75px;
  display: flex;

  table, td {
    border: 1px solid gray;
  }

  td {
    min-width: 150px;
    height: 50px;
    text-align: left;
  }

  &__left {
    border-radius: 12px;
    border: solid 1px rgba(0, 0, 0, .1);
    max-width: 600px;
    height: 375px;
    margin: 10px 30px 10px;
    padding: 12px;
  }
}